<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n" />
        </Console>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="Console" />
        </root>
        <logger name="org.hibernate" level="OFF" />
        <logger name="org.springframework" level="OFF" />
    </loggers>
</configuration>